(function (global, factory) {
  /* istanbul ignore next */
  typeof exports === 'object' && typeof module !== 'undefined' ? module.exports = factory() :
  typeof define === 'function' && define.amd ? define(factory) :
  global.ImmutableQuadTree = factory()
}(this, function () {
